<!-- Main Header Container -->
<header class="flex flex-col sm:flex-row items-center justify-between top-o p-4 gap-4">
    <a href="index.html" class="flex flex-col items-center md:flex-row md:text-center gap-2" title="Return to Homepage">
        <img src="assets/images/logo_wave clean.png" alt="Vital Signs Safety OKC Logo" class="h-48 w-auto flex-shrink-0 mb-0" id="header-logo">
        <div class="text-center flex-grow">
            <h1 class="text-4xl">Vital Signs Safety OKC</h1>
            <h3 class="text-2xl text-[var(--vs-accent-green)]">Prevention is the best Medicine</h3>
        </div>
    </a>

    <!-- Navigation -->
    <nav class="flex-shrink-0 flex-col">
        <a href="index.html" class="nav-link font-semibold">Home</a>
        <a href="services.html" class="nav-link font-semibold">Solutions</a>
        <a href="contact.html" class="nav-link font-semibold">Contact</a>
        <a href="info_911.html" class="nav-link font-semibold ">Info 911</a>
    </nav>
    
</header>

