<nav class="text-center mb-5">
  <a href="../pages/index.html" class="nav-link text-lg font-semibold">Home</a>
  <a href="../pages/services.html" class="nav-link text-lg font-semibold">Services</a>
  <a href="../pages/contact.html" class="nav-link text-lg font-semibold">Contact</a>
</nav>

<header class="text-center mb-12">
    <h1 class="text-4xl md:text-5xl font-bold">Vital Signs Safety OKC</h1>
    <h2 class="text-xl md:text-2xl mt-2 text-[var(--vs-neutral-text)]">Protecting what's most vital.</h2>
    <div class="accent-line"></div>
</header>